<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container mt-5 text-center" style="width: 35rem;">


            <!-- This is the form that the user will use to change their password. -->
            <form th:action="@{/user/change}" method="post">
                <div class="card mt-5">
                    <div class="card-body">
                        <!-- A message that will be displayed if the user has successfully changed their password. -->
                        <div class="text-center">
                            <div th:if="${session.message}" th:classappend="${session.message.type}" role="alert">
                                <p th:text="${session.message.content}"></p>
                                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                            </div>
                        </div>

                        <h3 class="text-danger">Change Password</h3> <br>
                        <label for="old_password">Enter your old password</label>
                        <input type="password" name="old_password" class="form-control " placeholder="Old password"><br>
                        <label for="new_password">Enter your new password</label>
                        <input type="password" name="new_password" class="form-control" placeholder="New password"><br>
                        <label for="confirm_password">Confirm password</label>
                        <input type="password" name="confirm_password" class="form-control"
                            placeholder="Confirm password"><br>

                        <button type="submit" class="btn btn-danger btn-block">Submit</button>
                        <a href=/user/ class="btn btn-success btn-block">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

</html>