<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-2">
                    <div class="my-card">
                        <form th:action="@{/user/update/done}" method="post" th:object="${contact}"
                            enctype="multipart/form-data">

                            <h3 class="text-center">Update Contact</h3>

                            <!-- A form field for the user to enter their name. -->
                            <div class="name_field">
                                <input type="text" class="form-control" id="name_field" placeholder="Contact Name"
                                    name="name" th:value="${contact.name}" required> <br>
                            </div>

                            <!-- A form field for the user to enter their second name. -->
                            <div class="name_field">
                                <input type="text" class="form-control" id="secondName_field"
                                    placeholder="Second/ Nic name" th:value="${contact.secondName}"
                                    name="secondName"><br>
                            </div>


                            <!-- A form field for the user to enter their work. -->
                            <div class="name_field">
                                <input type="text" class="form-control" id="work_field" placeholder="Work details"
                                    name="work" th:value="${contact.work}"><br>
                            </div>


                            <!-- A form field for the user to enter their email address. -->
                            <div class="email_field">
                                <input type="email" class="form-control" id="email_field"
                                    placeholder="Email  ex: name@example.com" name="email"
                                    th:value="${contact.email}"><br>
                            </div>

                            <!-- A form field for the user to enter their phone number. -->
                            <div class="phone_field">
                                <input type="text" class="form-control" id="phone_field"
                                    placeholder="Contact Number: XXXXXXXX98" name="phoneNumber" required
                                    th:value="${contact.phoneNumber}">
                                <p class="errors text-center" th:each="e : ${#fields.errors('phoneNumber')}" th:text="${e}" role="alert"></p> <br>
                                </div>

                                 <!-- A text area for the user to enter their about. -->
                                 <div class="about_field">
                                    <textarea class="form-control" id="default-editor" rows="2" name="description"
                                        placeholder="Description" th:text="${contact.description}"></textarea><br>
                                </div>

                                <!-- A form field for the user to upload an image. -->
                               <div class="text-center">

                                    <img class="image-fluid" height="250px" width="250px"  style="border-radius: 50%;" th:src="${'/images/'+contact.imageUrl}" alt="">
                                <input class="mt-4 ml-5" type="file" name="profileImage" id="">
                               </div>

                                <!-- A form field for the user to upload an image. -->
                                <div class="id_field">
                                    <label for="id"></label>
                                    <input  type="hidden" class="form-control" id="image_field" placeholder=""
                                        name="cId" th:value="${contact.cId}"><br>
                                </div>

                                <!-- Creating two buttons, one for submitting the form and one for resetting
                                the form. -->
                                <div class="text-center mt-1">
                                    <button type="submit" class="btn bg-primary text-white ">Update</button>
                                    <button type="reset" class="btn bg-danger text-white ">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>