<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <section>
        <div class="container">
            <div class="card" style="background-color: antiquewhite;" >
                <div class="card-body text-center font-weight-bold">
                    <div class="container">
                        <img th:src="@{'/images/'+${user.imageUrl}}" height="250px" width="250px" style="border-radius: 50%;">
                    </div>
                    <h1 th:text = ${user.name}></h1>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>ID</td>
                                <td th:text="${user.id}"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <td>about</td>
                                <td th:text="${user.about}"></td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td th:text="${user.role}"></td>
                            </tr>
                            <tr>
                                <td>Account Status</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-canter">
                        <a class="btn btn-block btn-danger" th:href="@{/user/changepassword}">Change Password</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>