<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container mx-auto" style="width: 30rem; margin-top: 8%;">
            <div class="card" style="border-radius: 5%;">
                <div class="text-center">
                    <div th:if="${session.message}" th:classappend="${session.message.type}" role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                </div>

                <div class="card-body">
                    <form th:action="@{/forgot/change}" method="post">
                        <h4 class="text-center text-warning">Forgot Password</h4>
                        <div class="card-body text-center">
                            <input type="email" placeholder="enter your registered email address" name="email"
                                th:value="${email}" class="form-control">
                            <button class="btn btn-success mt-2">Send OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>